{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="landing-text text-center">
        <h1>
            Confident Travels Starts At JOURNY.
        </h1>
</section>
<section>
        
    


    <section class="body abt">
        <div class="container">
            <div class="row">
                  <div class="col-md-7">
                <h1 style="color:black">Since 2018, JOURNY has been revolutionizing the travel industry. Metasearch for travel? No one was doing it. Until we did.</h1><br>
                Today, we process over millions of queries across our platforms each year for travel information, helping thousands of travelers around the globe make confident decisions. With every query, JOURNY searches hundreds of sites to show travelers the information they need to find the right flights and Destinations.<br><br>

                In over a Years, we've grown from a small office of 14 employees into a company of over 1,000 travel-loving teammates working across 3 international brands; JOURNY, checkfelix, and Cheapflights. Together, we help people experience the world by creating their favorite travel tools.<br><br>

                In 2019, we were acquired by Booking Holdings, the world leader in online travel.
            </div>
            <div class="col-md-5">

            </div>
            </div>


        </div>

    </section>


{% endblock %}