{% extends 'base.html' %}
{% load static %}

{% block content %}



<section class="landing-text text-center">
        <h1>Explore The World <br>
            <p><em>Life is short and the world is wide</em></p>
        </h1>
        <div class="customize">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search your Destination">

                <div class="input-group-append">
                    <button type="submit" class="input-group-text btn">Search</button>
                </div>
            </div>
        </div>

    </section>
    <section class="gap">

    </section>
    <section class="banner">
        <div class="banner-highlight">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <h2>Get 30% on top destinations</h2>
                        <p>Book your tickets before 31st feb and avail 30% flat discount.</p>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="booking-btn">Book Now</button>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <section class="gap">

    </section>
    <section class="banner3">
        <div class="banner3-highlight">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Lunar New Year Celebration</h2>
                        <p>Enjoy 10% Off<br> All Tour and Tickets!
                        </p>
                    </div>

                </div>

            </div>

        </div>
    </section>

    <section class="gap">

    </section>

    <section class="banner1">
        <div class="banner1-highlight">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <p>Santorini-The White city</p>
                        <h2>20% Off</h2>
                        <p>Grab Yours Now!</p>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="booking-btn">Book Now</button>
                    </div>
                </div>

            </div>

        </div>
    </section>


  {% endblock %}