{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="landing-text text-center">
        <div class="row justify-content-center bigriyekothiyo">
            <h1>Explore The World <br>
                <p><em>Life is short and the world is wide</em></p>
            </h1>

        </div>

        <div class="customize">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search your Destination" readonly>

                <div class="input-group-append">
                    <button type="submit" class="input-group-text btn">Search</button>
                </div>
            </div>
        </div>
    </section>


    <div class="carousel-card">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12 carousell">
                            <div class="carousel slide carousel-fade" data-ride="carousel" id="carouselWork" data-interval="3000">


                                <div class="carousel-inner">
                                    <div class="carousel-item active">

                                        <div class="card customization-card">
                                            <div class="imgg">
                                                <img src="{% static 'image/Nepal.jpg' %}" alt="img" class="card-img-top d-block">
                                            </div>
                                            <div class="card-body">
                                                <h4 class="text-center"> Nepal </h4>
                                                <p class="text-justify"> Nepal is a nation between India and Tibet known for its temples and Himalayan mountains, which include Mt. Everest. Kathmandu, the capital, has a mazelike old quarter filled with Hindu and Buddhist shrines.
                                                    Around Kathmandu Valley are Swayambhunath, a Buddhist temple with resident monkeys; Boudhanath, a massive Buddhist stupa; Hindu temples and cremation grounds at Pashupatinath; and the medieval city of
                                                    Bhaktapur ................................................................</p>

                                            </div>



                                            <div class="card-footer">
                                                <button class="btn btn-block" type="button" name="button"> Read More </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="carousel-item">

                                        <div class="card customization-card">
                                            <div class="imgg">
                                                <img src="{% static 'image/Turkey.jpg' %}" alt="img" class="card-img-top d-block">
                                            </div>
                                            <div class="card-body">
                                                <h4 class="text-center  card-title"> Turkey </h4>
                                                <p class="card-text text-justify"> Turkey is surrounded by sea on three sides. The Mediterranean in the south, the Aegean in the west, and the Black Sea in the north. The Marmara Sea, in the northwest, includes the Istanbul and Dardanelles
                                                    Straits and is a territorial water of Turkey.Turkey, officially known as the Republic of Turkey, is both a European and an Asian country. It’s neighbour to the northwest is Bulgaria; Greece to the west;
                                                    Armenia, Azerbaijan and Iran to the east; Georgia to the northeast; Syria to the south; and Iraq to the southeast.The climate in Turkey varies according to the region. Generally, the country’s climate
                                                    is moderate. The Black Sesa region is moderate and rainy; the south and Aegean region feature a Mediterranean climate; and the central, east and southeast regions have a continental climate.....................
                                                </p>

                                            </div>

                                            <div class="card-footer">
                                                <button class="btn btn-block" type="button" name="button"> Read More </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="carousel-item">

                                        <div class="card customization-card">
                                            <div class="imgg">
                                                <img src="{% static 'image/France.jpg' %}" alt="img" class="card-img-top d-block">
                                            </div>
                                            <div class="card-body">
                                                <h4 class="text-center  card-title"> France </h4>
                                                <p class="card-text text-justify"> The French affectionately call their beloved homeland "l'Hexagone" because of its distinct six-sided shape. Each corner of France has its own unique character: the rugged and outdoorsy French Alps, sun-drenched
                                                    and slow-paced Provence, the glamorous and gorgeous Côte d'Azur coastline, and Alsace with picture-perfect hamlets nestled in vine-covered hills.Paris and Versailles are must-see destinations for a first
                                                    trip to France. Other classic travel itineraries include stops at fashionable seaside resorts, fairy-tale castles, and glorious Gothic cathedrals. More off-the-beaten-path experiences are found in the
                                                    countryside, such as at farmhouses in Burgundy, fishing villages in Brittany, and in the forests of the Pyrenees Mountains.From the cultured cities to the quaint countryside, explore this diverse country
                                                    with our list of the best places to visit in France...............</p>
                                            </div>

                                            <div class="card-footer">
                                                <button class="btn btn-block" type="button" name="button"> Read More </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="carousel-item">

                                        <div class="card customization-card">
                                            <div class="imgg">
                                                <img src="{% static 'image/UK.jpg' %}" alt="img" class="card-img-top d-block">
                                            </div>
                                            <div class="card-body">
                                                <h4 class="text-center  card-title"> UK </h4>
                                                <p class="card-text text-justify">Consisting of England, Scotland, Wales, and Northern Ireland, the United Kingdom (UK) has long been one of Europe's most popular tourist destinations. The country's appeal has much to do with its diverse
                                                    scenery and rich cultural heritage. The best places to visit include everything from beautifully preserved country estates and castles, to its many world-class art galleries and museums.One of the greatest
                                                    pleasures of a UK vacation, however, is just how easy it is to explore this fascinating and diverse country. Thanks to its size-the UK could easily fit into the state of Texas (with room to spare)-you
                                                    can base yourself in cities such as London or Liverpool and simply take a train or bus to explore other areas.From the nation's capital, a 90-minute train ride is all it takes to access beautiful Salisbury,
                                                    and a short bus ride or tour from here will take you to one of the country's most recognizable attractions, Stonehenge. And if you want to hop between the Scottish cities of Edinburgh and Glasgow, a
                                                    one-hour train ride will deposit you in the heart of either city.Plan your sightseeing adventures with our list of the best places to visit in the UK.........................................................................</p>

                                            </div>

                                            <div class="card-footer">
                                                <button class="btn btn-block" type="button" name="button"> Read More </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="carousel-item">

                                        <div class="card customization-card">
                                            <div class="imgg">
                                                <img src="{% static 'image/Germany.jpg' %}" alt="img" class="card-img-top d-block">
                                            </div>
                                            <div class="card-body">
                                                <h4 class="text-center  card-title"> Germany </h4>
                                                <p class="card-text text-justify"> History, culture, and natural beauty perhaps best describe the essence of vacationing in Germany. With its many historic cities and small towns, along with an abundance of forests and mountains, visitors
                                                    are spoiled for choice when it comes to choosing a unique place to visit. Those wanting to sightsee or experience the arts should head to the metropolitan areas such as Munich, Frankfurt, or Hamburg,
                                                    while those looking for recreational activities should visit places such as the Bavarian Alps, the Black Forest, or the Rhine Valley.Lovely old cathedrals and grand palaces are everywhere, and in the
                                                    smaller towns and villages - some with their original medieval Old Towns still intact - many centuries-old traditions, including traditional Christmas markets, festivals, and fairs, continue to this
                                                    day. At the cultural heart of Germany is the capital, Berlin, home to many fine museums and galleries, while nature lovers will find a world of possibilities in Germany's great outdoors. For ideas to
                                                    help plan your travels, read our list of the top tourist attractions in Germany......................................................... </p>

                                            </div>

                                            <div class="card-footer">
                                                <button class="btn btn-block" type="button" name="button"> Read More </button>
                                            </div>
                                        </div>
                                    </div>

                                    <a href="#carouselWork" data-slide="prev" class="carousel-control-prev iconni">
                                        <span class="carousel-control-prev-icon"></span>
                                        <span class="sr-only"></span>
                                    </a>

                                    <a href="#carouselWork" data-slide="next" class="carousel-control-next iconni">
                                        <span class="carousel-control-next-icon"></span>
                                        <span class="sr-only"></span>
                                    </a>
                                </div>


                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}