{%  extends 'base.html' %}
{% load static %}
{% block content %}
 <div class="container">
     <div class="row">
         <div class="col-md-3"></div>
         <div class="col-md-6">
              <div class="login">
                  <h4 class="text-white text-center" > Login </h4>
             <form method="post">
                 {% csrf_token  %}
                 {% if request.GET.next %}
                 <input type="hidden" name="next" value="{{request.GET.next}}">
                 {% endif %}
                 <div class="form-group">
                     <label> Username  </label>
                     <div class="input-group">
                         <div class="input-group-append">
                             <span class="input-group-text iconn"><i class="fas fa-user-tie"></i></span>
                         </div>
                         <input type="text" name="un" placeholder="Username"  class="form-control">
                     </div>
                 </div>

                   <div class="form-group">
                     <label> Password  </label>
                     <div class="input-group">
                         <div class="input-group-append">
                             <span class="input-group-text iconn"><i class="fas fa-lock"></i></span>
                         </div>
                         <input type="password" name="pw" placeholder="Password" class="form-control">
                     </div>
                 </div>
                 <button type="submit" class="btn  btn-block btn-primary"> Login  </button>
             </form>
         </div>

         </div>
     </div>
 </div>
{% endblock %}